.student-divider {
    padding-bottom: 15px;
    padding-top: 15px;
}


p.lbl.flag {
    font-weight: bold;
    text-align: right;
    resize: vertical;
    background-color: #50ff3d;
}
.attendance-space{
    margin-right: 5px;
}

.passed {
    background-color: #81ffb2;
}

table, th, td {
    border: 1px solid black;
}
table {
    padding-top-top: 25px;
}
.bold-text {
    font-weight: bold;
}
td.checked.P {
    background-color: rgba(17, 15, 197, 0.8);
    color: rgb(255, 255, 255);
}
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #ffffff;
}
.important{
    background-color: #d43f32;
}
.s_mark_name {
    padding-left: 4px;
}
tr:nth-child(even){

    background: rgba(28, 37, 75, 0.31);
}
span.grade {
    border-left-style: solid;
    border-left-width: thin;
    padding-left: 5px;
    margin-left: 5px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-wrapper {
    width: 60%; /* Could be more or less, depending on screen size */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-radius: 6px;

}
.modal-header {
    background-color: rgba(250, 72, 62, 0.95);
    color: white;
    border: 0;
    width: 100%; /* Could be more or less, depending on screen size */
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.modal-header.p {
    background-color: rgba(16, 250, 13, 0.95);
}
.modal-header.M {
    background-color: rgba(16, 13, 250, 0.95);;
}
.modal-header.D {
    background-color: rgba(250, 242, 16, 0.95);
}
.modal-content{
    border: 0;
    padding:20px;
}
.checkbox>label {
    padding-right: 20px;
}
