table th,
table td {
  border: 1px solid black;
}
table tr:nth-child(even) {
  background: rgba(28, 37, 75, 0.31);
}
table td.P {
  color: white;
  background-color: #0aa215;
}
table td.P:hover {
  background-color: #098a12;
}
table td.M {
  color: white;
  background-color: rgba(9, 10, 157, 0.74);
}
table td.M:hover {
  background-color: rgba(8, 8, 133, 0.74);
}
table td.D {
  color: white;
  background-color: #6c0707;
}
table td.D:hover {
  background-color: #540505;
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}
.modal .modal-wrapper {
  width: 50%;
  /* Could be more or less, depending on screen size */
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  border-radius: 6px;
}
.modal .modal-wrapper .modal-header {
  border: 0;
  width: 100%;
  /* Could be more or less, depending on screen size */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.modal .modal-wrapper .modal-header.P {
  color: white;
  background-color: #0aa215;
}
.modal .modal-wrapper .modal-header.P:hover {
  background-color: #098a12;
}
.modal .modal-wrapper .modal-header.M {
  color: white;
  background-color: rgba(9, 10, 157, 0.74);
}
.modal .modal-wrapper .modal-header.M:hover {
  background-color: rgba(8, 8, 133, 0.74);
}
.modal .modal-wrapper .modal-header.D {
  color: white;
  background-color: #6c0707;
}
.modal .modal-wrapper .modal-header.D:hover {
  background-color: #540505;
}
.modal .modal-wrapper .modal-content {
  border: 0;
  padding: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.student-divider {
  padding-bottom: 15px;
  padding-top: 15px;
}
#sub_page .riskIndicator .riskPanel {
  display: grid;
}
#sub_page .riskIndicator .riskPanel div {
  border: solid thin lightgray;
  text-align: center;
  padding: 5px;
  height: 30px;
}
#sub_page .riskIndicator .riskPanel .title {
  grid-row: 1;
  background: rgba(7, 6, 85, 0.75);
  font-weight: bold;
  color: white;
}
#sub_page .riskIndicator .riskPanel .data {
  grid-row: 2;
  background: rgba(192, 192, 192, 0.75);
}
#sub_page .riskIndicator .riskPanel .No.Risk {
  background: #0aa215;
}
#sub_page .riskIndicator .riskPanel .Medium {
  background: rgba(9, 10, 157, 0.74);
  color: white;
}
#sub_page .riskIndicator .riskPanel .High {
  background: #6c0707;
  color: white;
}
