<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Promonitor picture</title>
<script src="script.js" type="text/javascript" language="javascript"></script>

</head>
<body>


<h1 id="title">Promonitor Test</h1>

<div class="input-group">
    <span >Username: </span>
    <input type="text" placeholder="User Name" name="username" aria-describedby="basic-addon1" class="form_control">
</div>
<br>
<div class="input-group">
    <spam >Password: </spam>
    <input type="password" name="password" aria-describedby="basic-addon1" class="form_control">
</div>
<br>
<div class="input-group">
    <input type="button" value="Go" id="go" name="go">
</div>
<br>
<div id="output">
    <span id="result"></span>
</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="static/css/bootstrap.min.css">



</body>
</html>