
{% for value in students %}
<div id="{{ value['s_id'] }}" class="student">
    <h2 id="student_title"></h2>
    <div class="container">
        <div class="row" style="border-top: 1px dashed darkgray">
            <div class=" col-lg-6">
            <h2 class="student_id">{{ value['s_name'] }}</h2>

            </div>
            <div class="row"></div>
            <div class=" col-lg-6">
                <div id="attendance{{ value['s_id'] }}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <img src='{{ value["img_id"] }}'

                     class='img-circle student_photo'
                     style="height: 120px;">
            </div>
            <div id="more{{ value['s_id'] }}"></div>
            <div id="even_more{{ value['s_id'] }}"></div>
        </div>

        <div id="marks{{ value['s_id'] }}"></div>
    </div>
    <br>
</div>
{% endfor %}

