
 {% for items in value  %}
    <h4 class="">{{ value.first_name | title  }} has attended  {{items['attendance'].attended }}
    lessons form a total of {{ items['attendance'].lessons }}

    and has been late {{ items['attendance'].lates }}
{#    {% if value['attendance']['lates'] == 1  %}time{% else %}times{% endif %}.#}
</h4>
<button class="btn btn-primary">Attendance: <span class="badge lates"> {{ items['attendance'].attend_pcnt }}%</span></button>
<button class="btn btn-primary">Punctuality: <span class="badge punctuality>{{ items['attendance'].punctuality }}%</span></button>
{% endfor %}
