<div class="col-sm-3">
<div class="row"><p class="col-sm-5"><strong>NI Number:</strong></p><p class="col-sm-7">{% for m in value['ni'] %}{{ m }}{% endfor %}</p></div>
<div class="row"><p class="col-sm-5"><strong>Next of Kin:</strong></p><p class="col-sm-7">{% for p in value['nok'] %}{{ p }}{% endfor %}</p></div>
<div class="row"><p class="col-sm-5"><strong>NoK Email:</strong></p><p class="col-sm-7">{% for e in value['nok_email'] %}{{ e }}{% endfor %}</p></div>
<div class="row"><p class="col-sm-5"><strong>Nok phone:</strong></p><p class="col-sm-7">{% for d in value['nok_mobile'] %}{{ d }}{% endfor %}</p></div>
</div>

