
<!--{% for value in posts.students %}-->
<h2 id="student_title"></h2>
<div class="container">
    <div class="row" style="border-top: 1px dashed darkgray">
        <h2>{{ value['s_name'] }}</h2>
        <div class="col-sm-3">
            <img src='{{ value["img_id"] }}'
                 id='{{value["s_id"] }}'
                 class='img-circle student_photo'
                 style="height: 120px;">
        </div>
        <div class="col-sm-3">
            <h3>Address:</h3>
            <p>{{ value['Address'] }}</p>
        </div>
        <div class="col-sm-3">
            <p><strong>Mobile: </strong>{{ value['Mobile'] }}</p>
            <p><strong>Email: </strong>{{ value['s_c_email'] }}</p>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<br>

<!--{% endfor %}-->
