<div class="container student-divider">
    <div class="row" style="border-top: 1px dashed darkgray">
        <div class="col-lg-5">
            <h2 class="student-name"></h2>
        </div>
        <h2>
        <div class=" col-lg-6">
            <div class='template-attendance btn-toolbar'></div>
        </div>
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <img src=''
                    class='img-circle student-photo'
                    style="height: 120px;">
        </div>
        <div class="col-xs-10">
             <div class="row">
            <div class="template-mark hidden"></div>
            </div>
            <div class="col-xs-7 template-details hidden"></div>
            <div class="col-xs-5 template-more_details hidden"></div>

        </div>

    </div>

</div>




